.booking {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 40px;
    width: 100%;
    padding: 15px 25px;
    background-color: var(--color-blue-100);
    border-left: 4px solid var(--color-blue-200);
    border-radius: 1px;
    transition:
        opacity 0.5s ease,
        transform 0.5s ease,
        margin-bottom 0.5s ease,
        background-color 0.3s ease-out,
        border-left-color 0.3s ease-out
    ;
}

.booking--deleting {
    background-color: var(--color-gray);
    border-left-color: var(--color-dark-gray)
}

.booking__title {
    width: 100%;
    margin: 0;
    font-weight: 600;
    font-size: var(--font-size-400);
    font-family: 'Playfair Display', serif;
    line-height: 1;
}

.booking__cancel {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    font-weight: 300;
    font-size: var(--font-size-400);
    line-height: 1;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.5;
}

.loader {
    width: 7px;
    position: absolute;
    right: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
}

.booking__guests {

}

.booking__date {

}

.booking__total {
    
}

@keyframes l5 {
    0%  {box-shadow: 20px 0 #000, -20px 0 #0002;background: #000 }
    33% {box-shadow: 20px 0 #000, -20px 0 #0002;background: #0002}
    66% {box-shadow: 20px 0 #0002,-20px 0 #000; background: #0002}
    100%{box-shadow: 20px 0 #0002,-20px 0 #000; background: #000 }
}